/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Aug 26, 2018, 1:38:56 AM
    Author     : Mason
*/

html {
    background-attachment: fixed;
    background-image: url("sugar.png");
    background-color: black
}
a {
    color: white

}



p {
    position: relative;
    top:50px;
    font-family: Georgia;
    text-align: center;
    background:linear-gradient(to top, black, grey) ;
    font-size: 24px;
    color:white;
    margin-left: 15%;
    margin-right:15%;
    /*width: 800px;*/
}

div {
    /*background-color:darkred;*/
    color:whitesmoke;
    font-family:Georgia, serif;
}

h1 {
    position: relative;

    text-align: center;
    top: 0px;
    left: 350px;

    font-size:60px;

    background:linear-gradient(to top, black, grey) ;
    border-radius: 50px 50px 50px 50px;
    color: white ;



    width:600px
}
img{

      position: relative;
      top: 0px;
      left: 560px;
      image-resolution: from-image;

}
h2 {
    position:relative;
    left:360px;
    top:0px;
    font-family: Georgia;
    border-radius: 50px 50px 50px 50px;
    background:linear-gradient(to top, grey, black) ;
    font-size: 20px;
    width:600px;
    color:white;
    text-align:center
}

h3 {
    margin-left: 15%;
    margin-right:15%;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    font-family: Georgia;
    color: white;
    font-size: 34px;
    background:linear-gradient(to top, black, grey) ;


}

button {
    position: relative;
    background-color:darkred;
    height:40px;
    font-family:Georgia, serif;
    color: green;
}

input {
    /*height:60px;
    width:200px;*/
    position: relative;
    background:linear-gradient(to top, grey, black) ;
    /*background-color:rgba(0,0,0,0.5);*/
    color:whitesmoke;
    font-family:Georgia, serif;
    font-size:25px;
    float:left;

}

form {

    position: relative;

    top: 0px;
    left: 460px;
    width: 50%;
}
table{
    position: relative;
    top: 25px;
    width: 890px;
    margin-left: 15%;
    margin-right: 15%;
}

th, td {

    background: rgba(255,255,255,0.5);
    padding: 15px 15px;
}

head {
    text-align:center;
    display: inline-block
}
footer{
  position:relative;
  top:60px;
  bottom:15px;
}
